body {
    margin:0;

}


.headerContainer {
    height: 768px;
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    padding: 42px 116px 0 116px;
}

.abrev{
    color:white;
    font-size: 40px;
    font-family: 'Raleway';
    font-weight: bold;
    display: flex;
    align-items: center;
}


.about {
    color:white;
    font-weight: bold;
    font-family: Poppins;
    font-size: 16px;
    text-decoration: none;
    margin-right: 60px;
}

.services {
    color:white;
    font-weight: bold;
    font-family: Poppins;
    font-size: 16px;
    text-decoration: none;
    margin-right: 60px;

}

.ourWork {
    color:white;
    font-weight: bold;
    font-family: Poppins;
    font-size: 16px;
    text-decoration: none;
    margin-right: 60px;

}

.enrollNowText {
    color:white;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 16px;
    text-decoration: none;
}

.enrollNowBtn {
    padding: 16px 32px;
    border-radius: 24px;
    border: none;
    background-color: #023047;
}


.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.links {
    display: flex;
    align-items: center;
}


.textContainer {
    display: flex;
    flex-direction: column;
    margin-top: 124px;
}


h1 {
    color:white;
    font-font:Raleway;
    font-weight: bold;
    font-size: 50px;
}

p {
    margin-top: 18px;
    color: white;
    font-size: 16px;
}

.orangeButton {
    margin-top: 30px;
}

.img {
    margin-top:-365px;
    margin-left:841px;
}

.ticket1{
    display: flex;
    flex-direction: column;
    height: 90px;
    width: 200px;
    border-radius: 24px;
    background-color: white;
    margin-top: -450px;
    margin-left:500px;
    box-shadow: 10px 10px 5px #3B448F;
}

.ticket1 h1 {
    color:black;
    font-size: 36px;
    margin-top:10px;
    margin-left:69px;
    margin-right:69px;
}

.ticket1 p {
    color:black;
    font-family: Poppins;
    margin-top:-20px;
    margin-left:45px;
    margin-right:34px;
    font-size:16px;
}



.ticket2{
    display: flex;
    flex-direction: column;
    height: 90px;
    width: 180px;
    border-radius:24px;
    background-color: white;
    margin-top: 149px;
    margin-left:450px;
    box-shadow: 10px 10px 5px #3B448F;
}


.starNumber {
    display: flex;
    flex-direction: row;
}

.number {
    color:black;
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: bold;
    margin-top:9px;
    margin-left:44px;
}

.star {
    width: 150px;
    height: 90px;
    font-size:50px;
    color:#FFCE31;
    margin-top: 9px;
    margin-left: 5px;
}


.ticket2 p {
    color:black;
    font-family: Poppins;
    margin-top:-42px;
    margin-left:45px;
    margin-right:34px;
    font-size:16px;
}
