.footerContainer {
    background-color: #070917;
    height:409px;
    padding: 70px 110px;

}


.footerLinksContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quickLinks {
    margin-top: 70px;
}

.quickLinks div {
    color:white;
    line-height: 32px;
    font-size: 16px;
}

.quickLinks div:nth-of-type(2){
    margin-top: 20px;
}
.quickLinks div:first-child {
    color:#DA722C;
    font-weight: bold;
    font-size:18px;
    margin-left: -20px;
}

.course {
    margin-top: 70px;
}

.course div {
    color:white;
    line-height: 32px;
    font-size: 16px;
}

.course div:nth-of-type(2){
    margin-top: 20px;
}

.course div:first-child {
    color:#DA722C;
    font-weight: bold;
    font-size:18px;
    margin-left: -20px;
}

.contactUs {
    margin-top: 70px;
}

.contactUs div {
    line-height: 32px;
}

.contactUs div:nth-of-type(2) {
    margin-top: 20px;
}

/*.contactUs div:first-child {*/
/*    color:#DA722C;*/
/*    font-weight: bold;*/
/*    font-size:18px;*/
/*    margin-left: -20px;*/
/*}*/

.contactUsHeader {
    color: #DA722C;
    font-weight: bold;
    font-size:18px;
    margin-left: -20px;
}

.iconsFooter {
    color:white;
}

.emailFooter {
    color:white;
    font-size:16px;
}

.iconsWrapper {
    display: flex;
    flex-direction: row;
    margin-top:16px;

}

.fb {
    width: 24px;
    height: 24px;
    margin-right: 28px;
    color:white;
}

.in {
    width: 26px;
    height: 25px;
    color:white;
}

.input {
    width:521px;
    height: 39px;
    border-radius:8px;
    border: none;
    padding: 4px 100px 3px 27px;
}


.inputButtonWrapper {
    margin-top:30px;
}


.button {
    background-color:#023047;
    border-radius: 8px;
    border:none;
    padding: 9px 30px 9px 30px;
    margin-left: -140px;
    cursor: pointer;
}

.button p {
    padding: 0;
    margin: 0;
    font-size:16px;
    color:white;
}

::placeholder {
    font-size: 16px;
    color: slategray;
}

.textFooter {
    margin-left: -20px;
    margin-top: 30px;

}


