.mainContainer {
    display: flex;
    flex-direction: column;
}


.cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 746px;
    /*width: 100%;*/
}

.peopleCardsContainer {

}

.firstCard {
    display: flex;
    flex-direction: column;

}

.titleCard {
    width:442px;
    height: 102px;
    border-radius: 24px;
    background-color: #6F7DFB;
    z-index: 1;
    margin-top: -520px;
    margin-left: 100px;

}

.p {
    color: white;
    line-height: 27px;
    padding: 5px 32px 5px 40px;
    font-size:18px;
    font-weight: bold;
    font-family: 'Raleway';
}

.peopleInfo {
    display: flex;
    flex-direction: row;
    /*border:1px solid red;*/
    border-radius:24px;
    width:440px;
    height: 222px;
    background-color: white;
    box-shadow: 1px 1px 25px black;
    margin-left: 100px;
    margin-top: -102px;
}

.fullNameAndJobAndPhoto {
    display: flex;
    flex-direction: row;

}

.nameAndJob {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    margin-top: 120px;
    width:150px;
}

.name {
    color: #023047;
    font-size: 24px;
    font-weight: bold;
}

.job {
    margin-top: 8px;
    color: #023047;
    font-family: Raleway;
    font-size: 18px;
}

.photoFirstCard {
    margin-top:90px;
    margin-left: 110px;
    z-index: 2;
}

.secondCard {

}


.rectangle {
    margin-top:100px;
    margin-left: 203px;
}

.textContainer {
    margin-top: 185px;
    margin-left: 134px;
}

.title {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Raleway';
    color:#023047;
}

.description {
    color:#023047;
    font-family:'Poppins';
    font-size:16px;
    line-height: 32px;
    margin-top: 16px;
}

.textContainerBtn {
    margin-top: 30px;
}



/*............*/
.secondCard {
    display: flex;
    flex-direction: column;
    margin-top: 300px;
}


.secondTitleCard {
    width:442px;
    height: 75px;
    border-radius: 24px;
    background-color: #DA722C;
    z-index: 1;
    margin-top: -540px;
    margin-left: 130px;

}

.peopleInfoSecondCard {
    display: flex;
    flex-direction: row;
    /*border:1px solid red;*/
    border-radius:24px;
    width:440px;
    height:195px;
    background-color: white;
    box-shadow: 1px 1px 25px black;
    margin-left: 130px;
    margin-top: -75px;
}

.photoSecondCard {
    margin-top:65px;
    margin-left: 110px;
    z-index: 2;
}

.nameAndJobSecondCard {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    margin-top: 100px;
    width:150px;
}

/*SECOND PART */

.mainSecondPartContainer {
    height:785px;
    background: linear-gradient(180deg, #6F7DFB 0%, #26308C 100%);
    display: flex;
    flex-direction: column;
    padding:70px 115px;

}

.titleMainSecondPart{
    margin-top: 70px;
    color: #FFFFFF;
    font-family: Raleway;
    font-size: 60px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.coursesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.courseContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 506px;
    padding: 20px 20px 0px;
    height: 400px;
    border-radius:24px;
    background-color: white;
    margin-top:56px;
}

.courseContainerText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.imageMainSecondPart {
    width:462px;
    height: 260px;
    margin-top: -3.6px;
}

.titleCourse {
    font-size: 30px;
    color: #023047;
    line-height: 45px;
    font-weight: bold;
}



.bar {
 display: flex;
}


.buttonSecondPart{
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}



/*THIRD PART OF MAIN*/

.appContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height:462px;
    background-color: white;
}

.titleApp {
    color:#023047;
    font-size: 60px;
    font-weight: bold;
    margin-top: 100px;
}

.descriptionApp {
    font-size: 16px;
    color:#023047;
    margin-top: 13px;
}

.showAppContainer{
    display: flex;
    flex-direction: row;
    margin-top: 45px;

}

.iphoneApp {
    display: flex;
    flex-direction: row;
    border:2px solid black;
    width:310px;
    height: 100px;
    background-color: #000000;
    margin-right: 30px;
}


.androidApp {
    display: flex;
    flex-direction: row;
    border:2px solid black;
    width:310px;
    height: 100px;
    background-color: #000000;
}

.titleAppStore {
    color:white;
    padding: 35px 87px 26px 10px;
    font-size: 24px;
}

.appStoreIcon {
    padding: 20px 14px 20px 31px;
}

.titleGooglePlay {
    color:white;
    padding: 35px 60px 26px 31px;
    font-size: 24px;
}

.img1 {
    margin-top: 20px;
    margin-left: 31px;
}

.img2 {
    margin-top: 13px;
    margin-left: -25px;
}

.img3 {
    margin-top: 35px;
    margin-left: -5px;
}

.img4 {
    margin-top: 50px;
    margin-left: -53px;
}