.buttonOrangeThikShort {
    height: 59px;
    width: 170px;
    font-weight: bold;
    color:white;
    background-color: #DA722C;
    border-radius:24px;
    padding: 16px 32px;
    border:none;
    font-size:18px;
    cursor: pointer;
}

.buttonOrangeThikLong {
    /*delete margin*/
    margin-top:20px;
    background-color: #DA722C;
    border: none;
    border-radius:24px;
    font-size:18px;
    color:white;
    padding: 16px 32px 16px 33px;
    font-weight: bold;
    cursor: pointer;

}

.buttonOrangeThinShort {
    margin-top: 10px;
    background-color: #DA722C;
    border: none;
    border-radius:24px;
    color:white;
    font-weight: bold;
    font-size:16px;
    padding: 12px 32px;
    cursor: pointer;


}

.buttonOrangeThinLong {
    margin-top: 10px;
    background-color: #DA722C;
    border: none;
    border-radius:24px;
    color:white;
    font-weight: bold;
    font-size:16px;
    padding: 12px 32px 12px 58px;
    cursor: pointer;

}


/*BLUE BUTTONSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS*/

.buttonBlueThikLong {
    margin-top: 10px;
    background-color: #023047;
    border: none;
    border-radius:24px;
    font-size:18px;
    color:white;
    padding: 16px 32px 16px 60px;
    font-weight: bold;
    cursor: pointer;

}

.buttonBlueThikShort {
    margin-top: 10px;
    height: 59px;
    width: 170px;
    font-weight: bold;
    color:white;
    background-color: #023047;
    border-radius:24px;
    padding: 16px 32px;
    border:none;
    font-size:18px;
    cursor: pointer;

}

.buttonBlueThinLong {
    margin-top: 10px;
    background-color: #023047;
    border: none;
    border-radius:24px;
    color:white;
    font-weight: bold;
    font-size:16px;
    padding: 12px 32px 12px 58px;
    cursor: pointer;

}

.buttonBlueThinShort {
    margin-top: 10px;
    background-color: #023047;
    border: none;
    border-radius:24px;
    color:white;
    font-weight: bold;
    font-size:16px;
    padding: 12px 32px;
    cursor: pointer;

}


